<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100 flex justify-center items-center h-screen">
    <div class="bg-white p-5 rounded-lg shadow-lg w-full max-w-lg">
      <%- include('header.ejs') %>
      <div class="flex mb-6">
        <input
          type="text"
          placeholder="What's next?"
          class="flex-1 border border-gray-300 p-2 rounded-l-lg focus:outline-none focus:ring focus:border-blue-300"
        />
        <input
          type="date"
          class="border border-gray-300 p-2 rounded-r-lg focus:outline-none focus:ring focus:border-blue-300 ml-2"
        />
        <button
          class="bg-green-500 text-white px-4 py-2 rounded-lg ml-2 hover:bg-green-600"
        >
          Add
        </button>
      </div>

      <%- include('todos.ejs', {allTodos: allTodos}); %> <%-
      include('footer.ejs') %>
    </div>
  </body>
</html>

<!-- <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <form>
          <div class="flex gap-1 py-4">
            <div class="flex-auto">
              <input type="text" placeholder="What's Next" class="border border-gray-300 rounded text-gray-900 w-full p-2 text-sm " required />    
            </div>
            <div class="flex-auto"></div>
            <input type="date" class="border border-gray-300 rounded text-gray-900  w-full p-2 text-sm leading-4"/>    
            </div>
            <div class="flex-none">
              <button type="submit" class="bg-green-500 text-white px-5 py-1.5 rounded font-medium mr-2 mb-2">Add</button>
            </div>
          </div>
        </form>

        <div>
          <h5>OverDue</h5>
          <ul class="list-none">
            <li>
              <div class="flex">
                <input type="checkbox" name="" id="todoItem-1">
                <label for="todoItem-1">GO to Gym</label>
              </div>
            </li>
          </ul>
          <h5>Due Today</h5>
          <h5>Due Later</h5>
        </div>
      </div>
    </div>
-->
